<div class="container">
  <div class="title">Crypto Monster</div>
  <img
    alt="logo"
    class="logo"
    height="180"
    ngSrc="assets/images/logo-no-background.svg"
    priority
    width="180"
  />
  <form
    (ngSubmit)="onAuthenticationSubmission()"
    [formGroup]="authenticationForm"
    class="authForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input
        autocomplete="off"
        formControlName="userName"
        matInput
        type="text"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>
    <button (submit)="onLoginClick()" color="primary" mat-raised-button>
      Login
    </button>
  </form>
  <img
    [height]="getMonsterImageHeight()"
    alt="monster"
    class="monster-image"
    ngSrc="assets/images/monster.png"
    priority
    width="140"
  />
</div>
